header h2{
    margin:0;
    font-weight: bold;
}

header img{
    margin:0;
    padding:5px 0px;
}

header,nav{
    font-weight: bold;
    font-size:1.2em;
}

header, nav, main, footer{
    margin-top:5px;
    background-color:rgb(199, 199, 255);
    color:white;
    border:black solid 1px;
}

nav .col{
    padding:5px 0px;
}

nav .col:hover{
    color:rgb(199, 199, 255);
    background-color: white;
    cursor:pointer;
}